<!DOCTYPE html>
<html>

<head>
  <title>
    Event Detail
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>

      <div class="flex-container">
        <div class="flex-item">Navbar</div>
        <button class="flex-item"><a href="/index.html">Home</a></button>
        <button class="flex-item"><a href="/event">Event</a></button>
        <button class="flex-item"><a href="/becomeVolunteer.html">Become volunteer</a></button>
        <div class="flex-item" style="flex-grow: 6"> </div>
      </div>

      <img class="img-fluid img-thumbnail" style="object-fit:cover" src=<%=event.Image %> />

      <p>
      <h1> <%= event.EventTitle %> </h1>
      <div> <%= event.Organizer %> 
      </div>
      <div>
        Description: <%= event.Description %>
      </div>

      <div class="col-12 col-md-12 card">
        Datetime: <%= event.DateTime %>
      </div class="col-12 col-md-12 card">

      <div class="col-12 col-md-12 card">
        Location: <%= event.Location %>
      </div>
      
      <div class="col-12 col-md-12 card">
        Quota: <%= event.Quota%>
      </div>
      <div class="col-12 col-md-12 card">
        CreateAt: <%= event.CreateAt %>
      </div>

      <div class="col-12 col-md-12 card">
        ModifiedAt: <%= event.ModifiedAt %>
      </div>

      </p>

</body>

</html>